body {
  font-family: "Lora", serif;
  margin: 0;
  padding: 0;
  
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #FDFDFD;
}
  
h1,h3 {
    color:#4CAF50;
    text-align:center;
}
  
.tablestyle {
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;

}

.tablestyle h2{
  color:#98E4B3;
  text-align:center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #98E4B3;
}

.image-container {
    text-align: center; 
}

.image-container img {
    display: inline-block; 
}

li {
    float: left;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  li a:hover {
    background-color:#4CAF50;
  }

  td {
    padding: 50px;
  }

  th {
  background-color: #4CAF50;
  color: black;
  padding: 50px;

  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  .container {
    text-align: center;
    font-size: 18px;
    margin: 0 20px;
  }
  
  footer {
    background-color: #98E4B3;
    color: black;
    margin-top: 10px;
    padding: 5px;
  }